.menu__button_container {
  position: relative;
  margin-top: auto;
  height: 36px;
}

.menu__button {
  position: absolute;
  z-index: 1;
  transition: 0.4s;
}

.menu__button--open {
  right: -62px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.menu__button--close {
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.menu__button_icon {
  transition: 0.4s;
}

.menu__button_icon--close {
  transform: rotate(0);
}

.menu__button_icon--open {
  transform: rotate(180deg);
}
