.menu {
  width: 0%;
  transition: 0.4s ease;
}

.menu--active {
  background-color: antiquewhite;
  width: 30%;
  min-height: 100vh;
}

.menu__board {
  display: flex;
  justify-content: space-around;
}
